<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance System</title>
    
</head>
<body>

    <!-- Header Section -->
    <div class="header">
        <h2>Attendance System</h2>
        <a class="btn login-btn" href="/login">Login</a>
    </div>

    <!-- Main Content Section -->
    <div class="container">
        <!-- Text Section -->
        <div class="text-section">
            <h1>Track Attendance with Ease</h1>
            <p>Our student attendance system helps educators manage and track attendance efficiently, making record-keeping effortless and reliable.</p>
        </div>
        <!-- Image Section -->
        <div class="image-section">
            <img src="assets\images\p1.png" alt="Students in a classroom">
        </div>
    </div>

</body>
</html>
