    body {
        background-color: #000;
        color: #00ff00;
        font-family: "Courier New", monospace;
        text-shadow: 0 0 5px #00ff00;
    }

    /* Navbar */
    .custom-navbar {
        background-color: #000;
        border-bottom: 2px solid #00ff00;
        padding: 10px;
        box-shadow: 0 0 15px #00ff00;
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0 0 8px #00ff00;
        animation: glitch 1s infinite alternate;
    }

    @keyframes glitch {
        0% { text-shadow: 2px 2px #00ff00, -2px -2px #ff00ff; }
        100% { text-shadow: -2px -2px #00ff00, 2px 2px #ff00ff; }
    }

    /* Navbar Links */
    .nav-link {
      background: transparent;
      color: #00ff00;
        font-weight: bold;
        transition: 0.3s;
        padding: 10px 15px;
    }

    .nav-link:hover {
        color: #000;
        background: #15db15;
        text-shadow: 0 0 8px #21ee21;
        border-radius: 5px;
    }

    /* Navbar Toggler */
    .navbar-toggler {
        border: 1px solid #00ff00;
    }

    .navbar-toggler-icon {
        filter: invert(100%);
    }

    /* Logout Button */
    .logout-btn {
        background: transparent;
        border: 2px solid #00ff00;
        color: #00ff00;
        padding: 8px 15px;
        margin-left: 15px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
    }

    .logout-btn:hover {
        background: #00ff00;
        color: #000;
        box-shadow: 0 0 10px #00ff00;
    }
    /* Ensure background remains the same even after clicking */

