<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="custom-navbar">
        <ul class="nav-list">
            <h3>Faculty Dashboard</h3>
            <li><a href="#">Add Student</a></li>
            <li><a href="#">All Students</a></li>
            <li><a href="#">Edit Student</a></li>
            <li><a href="#">Take Attendance</a></li>
            <li><a href="#">View Attendance</a></li>
        </ul>
        <button class="logout-btn">Logout</button>
    </nav>
    
</body>
</html>